button {
    width: 50px;
    height:50px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button > img {
    width: 30px;
    height: 30px;
}

button:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.filterButton {
    width:150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color:black;
    border-radius: 10px;
    border: 1px solid black;
}