:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #ffffff;
  --font-color: #000000;
  box-sizing: border-box;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#image-gallery{
  column-count: 4;
  column-gap: 10px;
  margin: auto;
  width: 90%;
  min-height: 100vh;
}

#image-gallery > li {
  break-inside: avoid;
  margin-bottom: 15px;
  list-style-type: none;
}

#image-gallery > li > a{
  width: 100%;
}

#image-gallery > li > a > img{
  width: 100%;
  height: auto;
  display: block;
  object-fit:fill;
  border-radius: 20px;
}

.arrows{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px){
  #image-gallery{
    width: 80%;
    column-count: 2;
  }
}

@media (max-width:600px){
  #image-gallery{
    width: 90%;
    column-count: 1;
    margin: auto;
    padding-left:0;
  }
}